@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  src: url("./assets/font/roboto/Noto-Sans-regular.woff2") format("woff2");
}

body {
  font-family: "Roboto", sans-serif;
}

* {
  scrollbar-width: thin;
  scrollbar-color: rgba(0, 0, 0, 0.3) transparent;
}
